*{
margin: 0;
padding: 0;

}

header{
background: #f3f5fc;
padding: 30px;

}
main{
position: relative;
width: 100vw;
height: 100vh;
background: #f3f5fc;
}

.text-area{
position: absolute;
width: 42%;
height: 60%;
left: 12%;
top: 15%;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
background-color: #f3f3fc;

}

.text-area::placeholder{
font-family: 'Inter';
font-style: normal;
color: #043871;
}

.text-area:focus, .text-area:active{
border:none;
outline: none;
}

.informacion{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
position: absolute;
width: 80%;
left: 12%;
top: 80%;
}

.tamaño-imagen{
width: 15px;
height: 15px;
} 

#munieco{
    display: flex;
    position: relative;
    margin: none;
    padding: none;
    top: 5px;

}

.informacion p {
font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height:150%;
color: 150%;
color: #495057;
opacity: 0.8;
flex: none;
order: 1;
flex-grow: 0;
}

.botones{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 1% 0;
position: absolute;
width: 80%;
left: 12%;
top: 83%;
}

#reloadButton {
    padding: 8px 16px; /* Espaciado interno para el botón */
    background-color: transparent; /* Fondo transparente */
    border: 1px solid #040f53; /* Borde delgado */
    border-radius: 4px; /* Bordes redondeados */
    font-family: "inter";
    font-size: 14px;
    line-height: 1; /* Espacio entre líneas */
    color: #040f53; /* Color de texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición suave */
}

#reloadButton:hover {
    background-color: #040f53; /* Cambia el color de fondo al pasar por encima */
    color: white; /* Cambia el color del texto al pasar por encima */
    border-color: transparent; /* Oculta el borde al pasar por encima */
}


.boton-encriptar{
align-items: center;
justify-content: center;
padding: 2%;
gap: 8px;
width: 25%;
background-color: #043871;
border-radius: 24px;
font-family: "inter";
font-size: 18px;
line-height: 19px;
text-align: center;
color: white;
margin-right: 8px;
}

.boton-desencriptar{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2%;
gap: 8px;
width: 25%;
background-color: #d8dfe8;
border-radius: 24px;
font-family: "inter";
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: center;
color: rgb(15, 15, 15);
margin-left: 8px;
}


.boton-copiar {
box-sizing: border-box;
display: flex;
position: relative;
left: 39%;
top: 5%;
align-items: center;
justify-content: center;
padding: 2%;
gap: 8px;
width: 25%;
background-color: #d8dfe8;
border-radius: 24px;
font-family: "inter";
font-weight: 400;
font-size: 18px;
line-height: 19px;
text-align: center;
color: rgb(15, 15, 15);
}

.boton-desencriptar:hover, .boton-encriptar:hover{
margin: 0.3%;
width: 24.5%;
padding: 1.8%;
}

.encriptado{
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
width: 30%;
height: 90%;
left: 60%;
top: 5%;
background: white;
box-shadow: 0px 24px 32px -8px;
border-radius: 15px;

}

.mensaje-encriptado{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 1%;
gap: 16px;
position: relative;
width: 100%;
top: auto;
text-align: center;

}


.mensaje-encriptado h2{
width: 60%;
font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #343a40;
}

.mensaje-encriptado p{
width: 80%;
font-family: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #495057;

}

.encriptado img{
position: absolute;
width: 80%;
height: 50%;
top: 15%;

}
#imagen-ocultar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#imagen-ocultar p {
    margin-bottom: 20px; /* Espacio entre el párrafo y el botón */
}

#imagen-ocultar .boton-copiar {
    margin-top: auto; /* Mueve el botón al final del contenedor */
}


#seccionDos {
    display: none;
}


/*Responsive design*/

@media screen and (max-width: 768px) {
    .text-area {
        width: 80%;
        height: 50%;
        left: 10%;
        top: 10%;
    }

    .informacion {
        width: 90%;
        left: 5%;
        top: 70%;
    }

    .botones {
        width: 90%;
        left: 5%;
        top: 73%;
    }

    .encriptado {
        width: 80%;
        left: 10%;
        top: 5%;
    }
}

/* Media query para pantallas aún más pequeñas, como smartphones en modo vertical */

@media screen and (max-width: 480px) {
    .text-area {
        width: 90%;
        left: 5%;
        top: 5%;
    }

    .informacion {
        width: 95%;
        left: 2.5%;
        top: 65%;
    }

    .botones {
        width: 95%;
        left: 2.5%;
        top: 68%;
    }

    .encriptado {
        width: 90%;
        left: 5%;
        top: 5%;
    }
}

/* Agrega más media queries según sea necesario para adaptar tu diseño a diferentes tamaños de pantalla */